.ts-icon.is-table-icon::before {
    content: "\f0ce";
}
.ts-icon.is-clock-icon::before {
    content: "\f017";
}
.ts-icon.is-basketball-icon::before {
    content: "\f434";
}
.ts-icon.is-music-icon::before {
    content: "\f001";
}
.ts-icon.is-seedling-icon::before {
    content: "\f4d8";
}
.ts-icon.is-trash-icon::before {
    content: "\f1f8";
}
.ts-icon.is-arrow-rotate-right-icon::before {
    content: "\f01e";
}
.ts-icon.is-bars-staggered-icon::before {
    content: "\f550";
}
.ts-icon.is-people-pulling-icon::before {
    content: "\e535";
}
.ts-icon.is-triangle-exclamation-icon::before {
    content: "\f071";
}
.ts-icon.is-file-import-icon::before {
    content: "\f56f";
}
.ts-icon.is-earth-asia-icon::before {
    content: "\f57e";
}
.ts-icon.is-angle-right-icon::before {
    content: "\f105";
}
.ts-icon.is-sun-icon::before {
    content: "\f185";
}
.ts-icon.is-graduation-cap-icon::before {
    content: "\f19d";
}
.ts-icon.is-xmark-icon::before {
    content: "\f00d";
}
.ts-icon.is-chevron-left-icon::before {
    content: "\f053";
}
.ts-icon.is-mobile-screen-icon::before {
    content: "\f3cf";
}
.ts-icon.is-circle-info-icon::before {
    content: "\f05a";
}
.ts-icon.is-table-cells-icon::before {
    content: "\f00a";
}
.ts-icon.is-arrow-right-icon::before {
    content: "\f061";
}
.ts-icon.is-list-check-icon::before {
    content: "\f0ae";
}
.ts-icon.is-school-icon::before {
    content: "\f549";
}
.ts-icon.is-arrow-rotate-left-icon::before {
    content: "\f0e2";
}
.ts-icon.is-gear-icon::before {
    content: "\f013";
}
.ts-icon.is-moon-icon::before {
    content: "\f186";
}
.ts-icon.is-angle-down-icon::before {
    content: "\f107";
}
.ts-icon.is-download-icon::before {
    content: "\f019";
}
.ts-icon.is-chevron-down-icon::before {
    content: "\f078";
}
.ts-icon.is-calendar-days-icon::before {
    content: "\f073";
}
.ts-icon.is-person-chalkboard-icon::before {
    content: "\e53d";
}
.ts-icon.is-child-reaching-icon::before {
    content: "\e59d";
}
.ts-icon.is-plus-icon::before {
    content: "\2b";
}
.ts-icon.is-dumbbell-icon::before {
    content: "\f44b";
}
.ts-icon.is-table-tennis-paddle-ball-icon::before {
    content: "\f45d";
}
.ts-icon.is-magnifying-glass-icon::before {
    content: "\f002";
}
.ts-icon.is-volleyball-icon::before {
    content: "\f45f";
}
.ts-icon.is-circle-question-icon::before {
    content: "\f059";
}
.ts-icon.is-x-icon::before {
    content: "\58";
}
.ts-icon.is-clipboard-check-icon::before {
    content: "\f46c";
}
.ts-icon.is-file-lines-icon::before {
    content: "\f15c";
}
.ts-icon.is-share-icon::before {
    content: "\f064";
}
.ts-icon.is-chevron-right-icon::before {
    content: "\f054";
}
.ts-icon.is-users-icon::before {
    content: "\f0c0";
}
.ts-icon.is-people-robbery-icon::before {
    content: "\e536";
}
.ts-icon.is-file-export-icon::before {
    content: "\f56e";
}
.ts-icon.is-circle-plus-icon::before {
    content: "\f055";
}
.ts-icon.is-arrow-right-to-bracket-icon::before {
    content: "\f090";
}
.ts-icon.is-angle-up-icon::before {
    content: "\f106";
}
.ts-icon.is-star-icon::before {
    content: "\f005";
}
.ts-icon.is-circle-user-icon::before {
    content: "\f2bd";
}
.ts-icon.is-circle-exclamation-icon::before {
    content: "\f06a";
}
.ts-icon.is-arrow-right-from-bracket-icon::before {
    content: "\f08b";
}
.ts-icon.is-spinner-icon::before {
    content: "\f110";
}
.ts-icon.is-wand-magic-sparkles-icon::before {
    content: "\e2ca";
}
.ts-icon.is-image-icon::before {
    content: "\f03e";
}
